.header {
  background-color: #014e56;
  padding-top: 73px;
  padding-bottom: 73px;
}

.header-container {
  display: flex;
  align-items: center;
}

.site-logo {
  color: #ffffff;
  margin-right: 80px;
}

.site-logo:hover {
  opacity: 0.8;
}

.site-logo:active {
  opacity: 0.6;
}
.sitenav {
  margin-right: auto;
}
.sitenav-list {
  display: flex;
  gap: 40px;
}

.sitenav-link {
  color: #ffffff;
}

.sitenav-link:hover {
  color: #f67e7e;
}

/* hero start */

.hero {
  background-color: #014e56;
  padding-top: 56px;
  color: #ffffff;
  padding-bottom: 250px;
  background-image: url(../images/hero-bg-left.svg),
    url(../images/hero-bg-right.svg);
  background-repeat: no-repeat;
  background-position: left -100px top 50px, right 165px bottom -100px;
}
.hero-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.hero-title {
  font-size: 100px;
  line-height: 100px;
  font-weight: 700;
  width: 535px;
}

.hero-description {
  width: 100%;
  max-width: 445px;
}

.hero-divider {
  margin-bottom: 79px;
}

.hero-description-text {
  font-size: 18px;
  line-height: 28px;
}
/* hero end */
