.service {
  background-color: #012f34;
  color: #ffffff;
  background-image: url(../images/service-left-bottom.svg);
  background-repeat: no-repeat;
  background-position: right -100px bottom;
}
.service-container {
  display: flex;
  justify-content: space-between;
  padding-top: 140px;
  padding-left: 165px;
  padding-bottom: 240px;
}

.service-title-container {
  display: flex;
  flex-direction: column;
}

.service-divider {
  margin-bottom: 54px;
}
.service-title {
  font-size: 48px;
  line-height: 48px;
  font-weight: 700;
  width: 445px;
  height: 144px;
}
.service-list {
  width: 540px;
  height: 346px;
  display: flex;
  flex-direction: column;
  gap: 32px;
  padding-top: 100px;
}
.service-item {
  display: flex;
  gap: 23px;
}

.service-text-container {
  display: flex;
  flex-direction: column;
}
.service-item-title {
  margin-bottom: 16px;
  color: #f67e7e;
  font-size: 18px;
  line-height: 28px;
}
.service-item-text {
  font-size: 15px;
  line-height: 25px;
}
